
@{
    Layout = "";
}

<style>
    #Visited a:visited, #Visited {
        color: white !important;
    }
</style>
<div class="">
    <div class="">
        <div class="">
            <h1>503</h1>
        </div>
        <div class="">
            <h1>
                Looks like we're having <br>
                some server issues.
            </h1>
        </div>
        <hr>

        <div class="">
            <h2>
                Go back to the previous page and try again.

            </h2>

        </div>
        @*<div class="two-button-wrapper text-center pagination-btn" id="Visited">
            <div class="btn primary-btn">
                <a class="" href="https://arappdev.seaboardcorp.com/" >Home</a>
            </div>
        </div>*@
    </div>

</div>